@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	/*line-height:30px;*/
	line-height:25px;
	color:#777;
	background:#0CF;
}

.container {
	max-width:750px;
	width:100%;
	margin:0 auto;
	position:relative;
}

h1 {
	margin:35px 0 0px;
	color: black;
	text-align: center;
}

footer {
	color: black;
	text-align: center;
}

#operator-usage {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#operator-usage h3 {
	color: #F96;
	display: block;
	/*font-size: 30px;*/
	font-size: 25px;
	font-weight: 400;
}

#operator-usage h4 {
	margin:5px 0 5px;
	/*margin:5px 0 0px;*/
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}


#box {
	width: 100%;
	margin: 0 0 5px;
	overflow: auto;
	border: 1px solid #CCC;
	padding: 10px;
	text-align: justify;
	background:#FFF;
	font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
	color:black;
}

#box p {
	margin: 0 0 5px;
	padding: 0;
	text-align: justify;
	font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
	color: black;
}

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: underline;
color: blue;
}

a:active {
text-decoration: underline;
}

::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


.cm-e-menu {
	background-color: #222;
	position: relative;
	z-index: 1000;
	color: #fff;
	font-weight: 200;
	box-shadow: 0 0 10px black;
	}
	
.cm-e-menu a:hover{
	text-decoration: none;
}

.cm-e-menu ul li.topmenu a:link {
	color: #fff;
}

.cm-e-menu ul li.topmenu a:visited {
	color: #fff;
}
	
.cm-e-menu ul {
	margin: 0; padding: 0;
}
.cm-e-menu li {
	position: relative;
	white-space: nowrap;
	cursor: pointer;
	/*text-transform: capitalize !important;*/
	
	list-style: none;

	-webkit-transition: background-color ease-in 300ms;
	-moz-transition: background-color ease-in 300ms;
	-ms-transition: background-color ease-in 300ms;
	-o-transition: background-color ease-in 300ms;
	transition: background-color ease-in 300ms;
}
.cm-e-menu li:hover {
	background-color: #3d3d3d;
	text-shadow: 0 10px 10px #222;
}
.cm-e-menu ul li.topmenu {
	display: inline-table;
	padding: .3em 1em;
}
.cm-e-menu .topmenu ul {
	display:none;
	position: absolute;
	background-color: #222;
}
.cm-e-menu li:hover > ul {
	display: table;
}
.cm-e-menu ul.submenu {
	top: 100%; left: 0;
	padding-top: .5em;
	padding-bottom: .5em;	
	box-shadow: 0 0 10px black;
}
.cm-e-menu ul.submenu .submenu {
	top: -.5em; left: 100%;
	font-size: 1em
}
.cm-e-menu ul.submenu li {
	padding: .2em 1.5em;
	font-size: .9rem;
}
.cm-e-menu li.divider {
	padding: 0;
	border-top: 1px solid #343434;
	margin: .5rem auto .3rem;
	cursor: default;
}
.cm-e-menu li.divider:hover {
	background-color: transparent;
}

/* FIXME: this ugly hack! Instead of scaling to 75%, just upload images of the right size */
img {
	/*transform: scale(0.75);*/
	transform: scale(0.75) translate(-10%, -15%);
	/*width: 75vw;*/
	/*margin: 0;
	padding: 0;
	display: block;*/
}
